.video{
	width: 370px;
	margin-bottom: 40px;
	margin: 10px;
	transition: 0.2s;
}

.video__thumbnail{
	width: 100%;

}

.video__info{
	display: flex;
	font-size: 13px;
	padding: 7px;
}

.video:hover{
	background-color: white;
}

.video__text{
	margin-left: 15px;
}


.video__avatar{
	height: 30px !important;
	width: 30px !important;
}
