@import './default.scss';
@import './variables.scss';

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 100;
  background-color: white;
  .logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
  }
  .middle{
    display: flex;
    width: 40%;
    align-items: center;
    border: 1px solid lightgrey;
    input{
      flex:1;
      border: none;
    }
  }
  .search{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: grey;
  }
  .right{
    display: flex;
    align-items: center;
  }
  .icon{
    margin-right: 5px;
  }
}

.sidebar{
	flex: 0.13;
  hr{
    height: 1px;
    border: 0;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.sidebarRow{
	display: flex;
	align-items: center;
	padding: 10px;
	transition: 0.3s;
  .icon{
    padding: 0 5px;
    font-size: large !important;
    color: #606060;
  }
  .title{
    flex: 1;
    padding: 0 5px;
    font-size: 13px;
    font-weight: 500;
  }
  &:hover{
    background-color: lightgrey;
    cursor: pointer;
    .icon{
      color: black;
    }
  }
}

.sidebarRow.selected{
	background-color: lightgrey;
}

.video{
	width: 370px;
	margin-bottom: 40px;
	margin: 10px;
	transition: 0.2s;
  .thumbnail{
    width: 100%;
  }
  .info{
    display: flex;
    font-size: 13px;
    padding: 7px;
  }
  &:hover{
    background-color: white;
  }
  .text{
    margin-left: 15px;
  }
  .avatar{
    height: 30px !important;
    width: 30px !important;
  }
}

.recomended{
	flex: 0.87;
	background-color: #f9f9f9;
	padding: 40px 20px;
	padding-bottom: 0;
  h2{
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .videos{
    display: flex;
    flex-wrap: wrap;
  }
}





.app__page{
	display: flex;
}
